<!DOCTYPE html>


<head>
    <title>
        Home
    </title>
<link rel="stylesheet" href='/css/style.css'>
<link rel="icon" href='/img/weather.png'



</script>
</head>

<body>
 <div class="main-conent">
    {{>header}}
    <p>Use this site to get weather.</p>
    <form>
        <input placeholder="location">
        <button>
            Search
        </button>
    </form>
    </div>
    <p id="message-1"></p>
    <p id="message-2"></p>
    <p></p>
    <script src = "/js/app.js" ></script>
</body>
{{>footer}}
</html>